#persinfointro {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

#persinfo, #benefits, #results {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

#retire, #benefitslider {
    width: 300px;
    margin: 0 auto;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

 